@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right, #F0CDAD, #A3907E);
}

main{background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6b5f53ad;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;

}

h1{color: #A39D5D;
    text-align: center;
    text-shadow: 1px 1px 2px #64613ab0

}

h2{ color: #A0B5F0;

}